[Unit]
Description=server for car control via gpio
Requires=network.target

[Service]
ExecStart=@@bindir@@/gpiosrv
WorkingDirectory=@@workdir@@
Environment="ROCKET_PORT=3000"

[Install]
WantedBy=rc-control.target
