[Unit]
Description=Wifi provisioning check
After=NetworkManager.service
Wants=NetworkManager.service
Before=sshd.service
OnFailure=balena-wifi-connect.service

[Service]
Type=oneshot
ExecStart=@@bindir@@/nm-online -t 10

[Install]
WantedBy=default.target
